In [1]:
import numpy as np
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
overview_df = pd.read_csv('overview_analysis.csv')
overview_df.drop(columns=['Row ID', 'Ship Mode', 'Segment'], inplace=True)
overview_df.head()

   Row ID         Category     Sales
0       1        Furniture  261.9600
1       2        Furniture  731.9400
2       3  Office Supplies   14.6200
3       4        Furniture  957.5775
4       5  Office Supplies   22.3680

In [3]:
a = pd.get_dummies(overview_df)
a.head()

,Row ID,Sales,Category_Furniture,Category_Office Supplies,Category_Technology
0,1,261.9600,1,0,0
1,2,731.9400,1,0,0
2,3,14.6200,0,1,0
3,4,957.5775,1,0,0
4,5,22.3680,0,1,0

In [7]:
X = a.iloc[:,1:]
Y = a.iloc[:,0]
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=998)

In [15]:
model = LinearRegression(fit_intercept=False).fit(x_train, y_train)

In [16]:
model.score(x_train, y_train)

0.05844246848772905

In [17]:
model.coef_

array([346.90165655, 118.63477555, 425.01561852])

Regarding product category, office supplies seem to be the lowest one lets check what this means.